.card-sizer {
    min-width: 336pt;
    min-height: 200pt;
    border-radius: 10px;
}

.card-icon {
    min-width: 50pt;
    min-height: 50pt;
    padding: 25pt;
}

.genre-name {
    font-size: 11pt;
    margin-top: 5pt;
    font-weight: bold;
    color: rgb(180,180,180);
}