/* Kurozora Overrides */

/* Start Override GTK classes */

.sidebar {
    border-width: 0px;
}

.navigation-sidebar {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}

/* End Override GTK classes */

/* Start Custom CSS classes */

label.page-header {
    font-size: 28pt;
    font-weight: bold;
}

/* End Custom CSS classes */