/* Kurozora Overrides */

/* Start Override GTK classes */

.sidebar {
    border-width: 0px;
}

.navigation-sidebar {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}

/* End Override GTK classes */

/* Start Custom CSS classes */

    /* Common */
label.page-header {
    font-size: 28pt;
    font-weight: bold;
}

label.section-header {
    font-size: 18pt;
    font-weight: bold;
}

    /* Explore */
.quick-link {
    font-weight: bold;
    font-size: 12pt;
    padding: 1.8em;
    border-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(255,255,255,0.2);
    transition: all 0.25s ease;
}

.quick-link:hover {
    background-color: rgba(255,255,255,0.2);
}

/* End Custom CSS classes */